/*Página Comunes (Las modificaciones estéticas fueron solo para testeo)*/
.container {
    background-color: rgb(201, 236, 227);
    padding-bottom: 20px;
    padding-top: 20px;
}

header {
    margin-left: 1rem;
}

.tarjeta-cuerpo {
    width: 18rem; /* Ancho de la tarjeta */
    margin-bottom: 1rem; /* Margen inferior */
    margin-right: 1rem;
    background-color: rgb(127, 234, 238);
    padding: 20px 20px 20px 20px;
    border-radius: 10px;
    box-shadow: rgba(56, 56, 56, 0.699) 0px 2px 2px;
}

.tarjeta-extra-cuerpo {
    width: 18rem; /* Ancho de la tarjeta */
    margin-bottom: 1rem; /* Margen inferior */
    background-color: rgb(189, 231, 233);
    padding: 20px 20px 20px 20px;
    border-radius: 10px;
    box-shadow: rgba(56, 56, 56, 0.699) 0px 2px 2px;
}

.titulo-tarjeta {
    color: navy; /* Color del título */
}

.texto-tarjeta {
    font-size: 1rem; /* Tamaño de fuente del texto */
    text-align: left; /* Justifica el texto */
}

.tarjetas-principales {
    justify-content: center;
    display: flex;
    background-color: rgb(142, 165, 192);
    padding-top: 20px;
    border-radius: 10px;
    box-shadow: rgba(56, 56, 56, 0.699) 0px 2px 2px;
}

/*Prueba carrusel*/

.casos-de-ataques {
    margin-top: 20px;
    justify-content: center;
}

.casos-de-ataques h2 {
    margin-left: 1rem;
    margin-bottom: 20px;
}

.carrusel {
    background-color: rgb(142, 165, 192);
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 10px;
    box-shadow: rgba(56, 56, 56, 0.699) 0px 2px 2px;
}

#carouselExampleCaptions {
    width: 400px;
    text-shadow: 2px 2px 2px black ;
    margin-left: auto;
    margin-right: auto;
}

#carouselExampleCaptions img {
    border-radius: 10px;
    border-style: solid;
    border-color: rgb(127, 234, 238);
}
