body {
    font-family: "DM Sans", sans-serif;
}

.navbar-brand {
    font-weight: 700;
    font-size: 28px;
}

.navbar li {
    font-weight: 500;
    font-size: 18px;
}

.navbar button {
    font-weight: 500;
    font-size: 20px;
}


.hero-bg {
    background-image: url('../img/hero.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-shadow: 5px 4px 8px rgba(0, 0, 0, 0.9);
    
}

.hero-bg h1 {
    font-family: "DM Sans";
    font-weight: 500;
}

.hero-bg p {
    font-family: "DM Sans";
    font-size: 20px;
    font-weight: 400;
}

.main-bg{
    background-color: #f8f8f8;
}