body {
    font-family: "DM Sans", sans-serif;
}

.navbar-brand {
    font-weight: 700;
    font-size: 28px;
}

.navbar li {
    font-weight: 500;
    font-size: 18px;
}

.navbar button {
    font-weight: 500;
    font-size: 20px;
}


.hero-bg {
    background-image: url('../img/hero.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-shadow: 5px 4px 8px rgba(0, 0, 0, 0.9);
    
}

.hero-bg h1 {
    font-family: "DM Sans";
    font-weight: 500;
}

.hero-bg p {
    font-family: "DM Sans";
    font-size: 20px;
    font-weight: 400;
}

.main-bg{
    background-color: #f8f8f8;
}

/*Página Comunes (Las modificaciones estéticas fueron solo para testeo)*/

.tarjeta-cuerpo {
    width: 18rem; /* Ancho de la tarjeta */
    margin-bottom: 1rem; /* Margen inferior */
    margin-left: 1rem;
    background-color: rgb(78, 200, 204);
    padding: 20px 20px 20px 20px;
}

.titulo-tarjeta {
    color: navy; /* Color del título */
}

.texto-tarjeta {
    font-size: 1rem; /* Tamaño de fuente del texto */
    text-align: left; /* Justifica el texto */
}

#lista-malware-interior {
    list-style: none;
    display: flex;
}

/*Prueba carrusel*/

#carouselExampleCaptions {
    width: 400px;
    text-shadow: 2px 2px 2px black ;
}
